body {
    background-color: aqua;
    background-image:url(thum/1.tb.jpeg) ;
    /* background repeat mengatur jenis pengulangan gambar pada background */
    background-repeat: no-repeat;
    background-position: top center;

    /* shorthand */
    background: aqua url(thum/1.tb.jpeg) no-repeat top center;
}