/* pseudo class yg berhubungan dengan link */
/* link style default pada sebuah link (a yg memiliki href) */
.hello {
    color: greenyellow;
}
/* hover style ketika kursor be rada diatas link/elemen */
.hello:hover {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
/* active stle ketika sebuah link di klik (dalam keadaan aktif) */
.hello:active {
    font-style: italic;
}
/* visited style ketika sebuah link sudah pernah dikunjungi (dalam browser yg sama) */
.hello:visited {
    color: brown;
}
/* pseudo class yg berhubungan dengan posisi elemen */
/* first child memilih elemen pertama dari sebuah parent (element pembungkusnya) */
/* li:first-child a { */
    /* color: aquamarine; */
/* } */
/* last-child memilih elemen terakir */
/* li:last-child a { */
    /* color: aquamarine; */
/* } */
/* nth child memilih elemen ke n */
li:nth-child(3n+1) a {
    color: aquamarine;
}
li:nth-child(3n+1) a:hover {
    color: blanchedalmond;
}
/* firs/last of type memilih elemen pertama/terakirp dari sebuah jenis tp-ipe tag */
p:first-of-type {
    color: blue;
}