h1 {
    color: red;
    font-size: 100px;
    /* text decoration untuk menambahkan undeline dan lain2 */
    text-decoration: line-through;
    /* text transform untuk mengubah tulisan */
    text-transform: lowercase;
}

p {
    /* text align untuk mengatur paragaraf */
    /* text-align: center; */
    /* text indent untuk memberikan indentasi pads paragaraf */
    text-indent: 100px;
    /* leter spacing  dan word spacinguntuk mengatur jarak antar huruf dan kata  */
    letter-spacing: 5px;
    
    
}