body {
    background-color: #a9a9a9 !important;
}

.portfolio img {
    width: 100%;
    max-width: 250px; /* Atur ukuran maksimal gambar */
    height: 200px;
}
.portfolio .thumbnail {
    padding: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .icon {
    display: flex;
    align-items: center; /* Menyelaraskan ikon di tengah vertikal */
    height: 100%; /* Pastikan tinggi ikon sesuai dengan tinggi footer */
}

.footer .bi-facebook {
    color: #3b5998 !important; /* Warna biru Facebook */
}

.footer .bi-instagram {
    color: #e4405f !important; /* Warna merah Instagram */
}

.footer .bi-whatsapp {
    color: #25d366 !important; /* Warna hijau WhatsApp */
}
